<div class="container text-center">
    <div >
      <div>
        <p class="titulo">{{miportafolio.name}}</p>
      </div>
      <div >
  
      <ul class="nav justify-content-end">
        <li class="nav-item">
            <button type="button" class="btn btn-light justify-content-md-end" href="https://www.linkedin.com/in/johana-uray-74b14443/">Linkedin</button>
        </li>
        <li class="nav-item">
            <button type="button" class="btn btn-light justify-content-md-end" >Login</button>
        </li>
      </ul>        
      
    </div>
    <div>
        <div>
            <figure> 
                <img id="central" src="imagenes/fondo.jpg"> 
                <!--<figcaption >Imagen principal</figcaption> MUESTRA EL NOMBRE DE LA IMAGEN-->
            </figure>  
        </div>
    </div>
  </div>