<app-encabezado></app-encabezado>

  <div class="container text-center">
    <div >
      <div class="col-md-12">
        <section id="datos"> 
          <article>
            <p class="titulo">DATOS</p> 
            <p class="texto">ING. Informàtica</p> 
            <p class="texto">uray.johana18@gmail.com</p> 
          </article> 
        </section>
      </div>
  </div> 

<app-acerca></app-acerca>

<app-experiencia></app-experiencia>

<app-educacion></app-educacion>

<app-competencias></app-competencias>
  
 