<div>
    <div class="col-md-12">
        <section id="competencia"> 
            <article>
                <i class="titulo">COMPETENCIAS</i>
                <i class="fa-solid fa-plus fa-2x"></i>

                <ul class="list-group">
                        
                    <li class="list-group-item d-flex justify-content-between align-items-center" >
                        <p>{{miportafolio.competencies.name}}</p>
                        <span><i class="fa-regular fa-pen-to-square fa-2x"></i></span>
                    </li>
                </ul>
            </article> 
        </section>
    </div>
</div>

