<div>
    <div class="col-md-12">
        <section id="competencia"> 
            <article>
                <!--<p class="titulo">COMPETENCIAS</p>-->
                <i class="titulo">COMPETENCIAS</i>
                <i class="fa-regular fa-pen-to-square fa-2x fa-fade"></i>
                <i class="fa-solid fa-square-plus fa-2x "></i>
                <li class="list-group-item">Administración servidores Windows / Linux </li> 
                <li class="list-group-item">Python</li>
                <li class="list-group-item">HTML</li>
                <li class="list-group-item">SQL</li>
            </article> 
        </section>
    </div>
</div>

